.blog{
    height: 100vh;
    width: 100%;
}

.blog-container-titulo{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.blog-container-titulo h2{
    font-size: 4rem;
    margin-top: 1rem;
}

.blog-container-titulo .linha{
    margin-top: .5rem;
    width: 20rem;
    height: .4rem;
    background: black;
}

.blog-noticias-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.blog-noticias{
    width: 30rem;
    height: 30rem;
    border: 1px solid black;
    border-radius: 1.2rem;
}